$fontMain: 'Roboto', 'Arial', sans-serif;
$colorBlack: #000;
$colorOrange: #f67f00;
$colorMenu: #010101;
$colorGreen: #88cf00;
$colorGreenDark: #77b401;
$colorBlue: #ced5df;
$colorGrey: #a2a2a2;
$colorGreyLight: #D3D3D3;
$colorBorder: #c4c4c4;
$size-lg: '1560px';
$size-md: '1024px';
$size-sm: '780px';
$size-xs: '560px';